{% extends "main.html" %}

{% block content %}

    <form action="" method="POST">
        {% csrf_token %}
        <label for="">USERNAME</label>
        <br>
        <input type="text" name="username">
        <br><br>
        <label for="">PASSWORD</label>
        <br>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="LOGIN">
    </form>

    <h5>Don't have account? <a href="{% url 'signup' %}">Signup</a></h5>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    
{% endblock content %}